body{
    display: flex;
    flex-direction: row;
    margin: 0 10vw;
}
#banner,
#content{
    display: flex;
    height: 95vh;
}

#banner{
    border: 1px solid red;
    width: 30vw;
    background:center url(./images/gunpla.jpg);
    background-size: auto 100%;
    flex-direction: column;
    justify-content: space-between;
}

#content{
    border: 1px solid blue;
    width: 70vw;
    flex-direction: column;
}

.odin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    opacity: 0.6; /*Need to change opacity to not affect content*/
    background-color: black;
    margin-top: 20vh;
    color: white;
    font-size: 2rem;
}

.odin-image{
    height: 10vh;
    width: 5vw;
}


.credit{
    display: flex;
    justify-content: center;
}

.intro,
.sign-up,
.confirmation{
    border: 1px solid green;
    width: 100%;
    height: 33%;
}

.sign-up{
    border: solid 1px yellow;
}

.confirmation{
    border: 1px solid orange;
}